---
import { Image } from "astro:assets";
import logo_pri from "@assets/img/sinergia-pnl-isologo-pri.svg";

import ico_tel from "@assets/icons/wsp-ico.svg";
import ico_mail from "@assets/icons/mail-ico.svg";
import ico_linkedin from "@assets/icons/linkedin-ico.svg";

import RectLine from "@components/atoms/RectLine.astro";
---

<section class="contacto" id="contacto">
    <h1 class="titulo">Contacto</h1>
    <div class="contacto-grid">
        <div class="contacto-logo">
            <Image
                class="sinergia-pnl-logo-hero"
                id="logo-hero"
                src={logo_pri}
                alt="Sinergia PNL"
            />
        </div>
        <div class="contacto-info">
            <h2>Sebastián Saez</h2>
            <RectLine height=".8rem" background="var(--color-max-white)" />

            <div class="contacto-ico-info">
                <a
                    href="https://wa.me/56956476933"
                    class="ico-link-container link-tel"
                    target="_blank" rel="noopener noreferrer"
                    ><Image
                        class="icono ico-tel"
                        src={ico_tel}
                        alt="Teléfono y Whatsapp"
                    />+56 9 5647 6933</a
                >

                <a
                    href="mailto:sebastian@sinergiapnl.cl"
                    class="ico-link-container link-mail"
                    target="_blank" rel="noopener noreferrer"
                    ><Image
                        class="icono ico-mail"
                        src={ico_mail}
                        alt="Mail"
                    />sebastian@sinergiapnl.cl</a
                >

                <a
                    href="https://www.linkedin.com/company/sinergia-pnl/"
                    class="ico-link-container link-linkedin"
                    target="_blank" rel="noopener noreferrer"
                >
                    <Image
                        class="icono ico-linkedin"
                        src={ico_linkedin}
                        alt="Linkedin"
                    />

                    Sinergia PNL</a
                >
            </div>
        </div>
    </div>
</section>

<style>
    .titulo {
        text-align: center;
        margin-bottom: 2rem;
        color: var(--color-gris1);
    }

    section.contacto {
        cursor: default;
        margin-top: 1rem;
        padding: 2rem 0;
        width: 100%;
    }

    .contacto-grid {
        color: var(--color-max-white);
        padding: 4rem 0;
        background: var(--gradient-blue-01);
        overflow: hidden;

        display: grid;

        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    @media (width < 768px) {
        .contacto-grid {
            grid-template-columns: 1fr;
            padding: 2rem 0;
        }
    }

    .sinergia-pnl-logo-hero {
        object-fit: contain;
        object-position: center;
        width: calc(10rem + 12lvw);
        max-width: 500px;
        max-height: fit-content;
        margin: 0 auto;
        padding: 0;
        display: block;
        filter: brightness(0) invert(1);
    }

    .contacto-logo,
    .contacto-info {
        padding: 2rem;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }

    .contacto-info{
        gap: .4rem;
    }

    .contacto-ico-info {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        margin-top: 1rem;
        align-items: flex-start;
        user-select: none;
    }

    .ico-link-container {
        margin-left: .2rem;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1.4rem;
        transition: scale 0.2s ease-in-out;
    }

    .ico-link-container:hover {
        scale: 1.08;
    }

    .icono {
        object-fit: contain;
        object-position: center;
        width: calc(1rem + 1lvw);
        max-width: 100px;
        max-height: fit-content;
        margin: 0 auto;
        padding: 0;
        display: block;
    }

    .link-tel,
    .link-mail,
    .link-linkedin {
        color: var(--color-max-white);
        text-decoration: none;
        font-weight: 500;
    }

    .link-tel:hover,
    .link-mail:hover,
    .link-linkedin:hover {
        text-decoration: none;
    }
</style>
