---
---

<footer class="footer-pnl">
    <p>SINERGIA PNL | CHILE | 2025</p>
</footer>

<style>
    .footer-pnl {
        padding: 2rem;
        margin-top: 4rem;
        background: var(--color-max-white);
        color: var(--color-gris0);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.16);
        bottom: 0;
    }

    p {
        margin: 0;
        padding: 0;
    }
</style>
