---
interface Props {
    src: string;
}

const { src } = Astro.props as Props;
---

<div class="img-perfil" style={`--bg-image: url(${src})`}></div>

<style>
    .img-perfil {
        background-image: var(--bg-image);
        background-size: cover;
        background-position: center;

        width: 100%;
        max-width: 160px;
        height: auto;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
    }
</style>
