---

---

<div class="line"></div>

<style>
    div.line {
        width: 100%;
        height: 1px;
        background-color: var(--color-gris1);
        margin-top: calc(.9rem + 1.1dvh);
        margin-bottom: calc(.9rem + 1.1dvh);
    }
</style>
